<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Blogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/blog.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Community Blogs</h1>
        <p>Explore the stories and insights from our community</p>
      </div>
    </header>
    <main>
      <div class="blogs-grid">
        <%if (locals.blogList) {%>
        <%blogList.forEach(blog => {%>
        <!-- Blog Card 1 -->
        <article class="blog-card">
          <h2><%=blog[0]%></h2>
          <p class="blog-excerpt">
          <p><%= blog[1].length > 15 ? blog[1].slice(0, 15) + '...' : blog[1] %></p>
          <div class="blog-meta">
            <span class="author"><%=blog[2]%></span>
          </div>
          <a href="http://localhost:3000/blog/<%=blog[0]%>" class="read-more">Read More</a>
        </article>
        <%})%>
        <%}%>
        <!-- Additional Blog Cards can be added here -->
      </div>
    </main>
  </body>
</html>
