<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
  <% if(locals.alertM) {%>
    <script>alert("<%= alertM %>");</script>
  <%}%>
    <div class="container">
      <h1>LOGIN</h1>
      <form class="login-form" action="http://localhost:3000/login/submit" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required maxlength="20" minlength="5" pattern="^[a-zA-Z0-9]+$" title="Username should be between 5 to 15 characters and no symbols are allowed"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required
               minlength="8" maxlength="20"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,20}$"
               title="Password must be between 8 and 20 characters and include at least one uppercase letter, one lowercase letter, one number, and one special character (e.g., !@#$%^&*)." />


        <input type="submit" value="LOGIN" />
      </form>
    </div>
  </body>
</html>
