<footer>
    <hr class="footer-hr">

    <p>© 2025 The Digital Tavern. All rights reserved to the realm.</p>
    <div class="footer-site-tabs">
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Contact</p>
        <p>RSS Feed</p>
    </div>
</footer>