<footer>
  <hr class="footer-hr" />

  <p>© 2025 The Digital Tavern. All rights reserved to the realm.</p>
  <div class="footer-site-tabs">
    <a href="/privacy-info">Privacy Policy</a>
    <a href="/terms-info">Terms of Service</a>
    <a href="/contact-info">Contact</a>
  </div>
</footer>
