main {
    width: 100%;
}

.navigation-bar-quests {
    border: 2px solid #AF8260;
    background-color: #4B3D36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.navigation-bar-quests-left {
    display: flex;
}
.navigation-bar-quests-left div{
    margin-right: 10px;
    padding-bottom: 5px;
}

.list-of-filters {
    border: 1px solid #E4C59E;
    background-color: #433A35;
    color: #E4C59E;
    width: 120px;
    height: 30px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.list-of-filters:hover {
    cursor: pointer;
    background-color: #B68D6E;
    color: #2D2622;
}

.list-of-filters:focus {
    outline: none;
    box-shadow: none;
    box-shadow: 0 0 5px #E4C59E;
}

.section-headers {
    color: #AF8260;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.navigation-bar-quests-right {
    display: flex;
}
.navigation-bar-quests-right div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers-navigation-quest {
    color: #AF8260;
    font-weight: 700;
    font-size: 18px;
}

.left-side-main-container {
    margin-top: 20px;
    width: 62%;
}
.right-side-main-container {
    margin-top: 20px;
    width: 32%;
}

.left-side-main-container-contents {
    background-color: #433A35;
    border: 2px solid #E4C59E;
    padding: 20px;
}
.main-contents-header {
    color: #803D3B;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: 0 0 2px #803D3B;
}
.main-contents-description {
    color: #888;
    font-size: 14px;
    margin: 10px 0;
}
.main-contents-body {
    font-size: 16px;
    line-height: 1.6;
}
.main-contents-button button {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #803D3B;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    padding: 5px 15px;
    color: #803D3B;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-contents-button button:hover {
    cursor: pointer;
    background-color: #803D3B;
    color: #E4C59E;
}
.left-side-hr {
    margin-top: 20px;
    border: 1px solid #888888;
}


.right-side-main-container-quest-master {
    background-color: #4B3D36;
    border: 2px solid #AF8260;
    padding: 20px;
    margin-bottom: 20px;
}

.right-side-main-quest-master-header {
    color: #AF8260;
    margin-bottom: 20px;
}

.right-side-main-quest-master-body p{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
    font-size: 20px;
}

.main-text-span {
    width: 70%;
}

.level-span {
    color: #AF8260;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.rank-span {
    color: goldenrod;
    font-size: 20px;
    font-weight: 700;
}


.right-side-main-recently-completed {
    background-color: #4B3D36;
    border: 2px solid #AF8260;
    padding: 20px;
    margin-bottom: 20px;
}

.right-side-main-recently-completed-header {
    color: #AF8260;
    margin-bottom: 20px;
}

.right-side-main-recently-completed-body p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.recently-completed-header-span {
    font-size: 20px;
}

.recently-completed-body-span-1, .recently-completed-body-span-2 {
    color: #888888;
}

.right-side-main-active-guild {
    background-color: #4B3D36;
    border: 2px solid #AF8260;
    padding: 20px;
    margin-bottom: 20px;
}

.right-side-main-active-guild-header {
    color: #AF8260;
    margin-bottom: 20px;
}

.right-side-main-active-guild-body p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.right-side-main-active-guild-body span {
    margin-bottom: 5px;
}

.active-guild-header-span {
    font-size: 20px;
}
.active-guild-body-span {
    color: #888888;
}


.right-side-main-active-guild-body .active-guild-header-span{
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

.right-side-main-active-guild-body .active-guild-header-span:hover{
    cursor: pointer;
    color: #eddbc2;
    text-shadow: 0 0 2px #eddbc2;
}



.right-side-main-recently-completed-body .recently-completed-header-span{
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

.right-side-main-recently-completed-body .recently-completed-header-span:hover{
    cursor: pointer;
    color: #eddbc2;
    text-shadow: 0 0 2px #eddbc2;
}