<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog Post Title</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" href="../css/blog-single.css" />
</head>
<body>
<header>
  <div class="header-container">
    <h1><%= blogTitle %></h1>
    <div class="blog-meta">
      <span class="author"><%= username %></span>
    </div>
  </div>
</header>
<main>
  <div class="content-container">
    <article class="blog-content">
      <p>
        <%= blogContent %>
      </p>
    </article>
    <div class="back-link">
      <a href="http://localhost:3000/blogs">← Back to Blogs</a>
    </div>
  </div>
</main>
</body>
</html>
